version: '3'
services:
  layzspa_watchdog_mqtt:
    container_name: layzspa_watchdog_mqtt
    image: tomgidden/layzspa_watchdog_mqtt
    environment:
      - MQTT_HOST=mqtt.home
      - MQTT_PORT=1883
      - MQTT_TOPIC=/layzspa_status
      - LOOP_SECONDS=10
      - LAYZSPA_EMAIL=xxxx
      - LAYZSPA_PASSWORD=xxxx
      - UDP_MAC=xx:xx:xx:xx:xx:xx
      - PING_HOST=hottub.home
      - PING_DELAY=60
    volumes:
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    network_mode: host
