[Unit]
Description=layzspa monitor (dockerized)
After=docker.service
Requires=docker.service

[Service]
User=root
TimeoutStartSec=0
#ExecStartPre=-/usr/bin/docker kill layzspa_watchdog_mqtt
#ExecStartPre=-/usr/bin/docker rm layzspa_watchdog_mqtt
#ExecStartPre=/usr/bin/docker pull tomgidden/layzspa_watchdog_mqtt
ExecStart=/usr/bin/docker run \
                          --cap-add=NET_ADMIN \
                          --rm \
                          -u 0 \
                          --net host \
                          --env TZ=Europe/London \
                          --env MQTT_HOST=mqtt.home \
                          --env MQTT_PORT=1883 \
                          --env MQTT_TOPIC=/layzspa_status \
                          --env LOOP_SECONDS=60 \
                          --env LAYZSPA_EMAIL=xxxx \
                          --env LAYZSPA_PASSWORD="xxxx" \
                          --env UDP_MAC=40:xx:xx:xx:xx:xx \
                          --env PING_HOST=hottub.home \
                          --env PING_DELAY=60 \
                          --name layzspa_watchdog_mqtt \
                          tomgidden/layzspa_watchdog_mqtt
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

